<%- include("../partials/head") %> 
<%-include("../partials/header") %>

<div class="page-container">

  <h1> Nos DINOS, nos Forfaits:</h1>
  <p>  - PetitDino: 3 dinosaures -
     MoyenDino: 6 dinosaures -
     Premium  : 9 dinosaures -
  </p>
  <ul>
    <% dinos.forEach(dino => { %>
      <li>
        <h2><%= dino.name %></h2>
        <p>description:<%= dino.description %></p>
        <p>régime: <%= dino.regime %></p>
      </li>
    <% }) %>
  </ul>
 
</div>


<%- include("../partials/footer") %>





