<%- include("../partials/head") %> 
<%-include("../partials/header") %>

<div class="page-container">
  <SWAGG>
  <h1> Nos DINOS, nos Forfaits:</h1>
  <p>  - PetitDino: 3 dinosaures -
     MoyenDino: 6 dinosaures -
     Premium  : 9 dinosaures -
  </p>
  <ul>
    <% dinos.forEach(dino => { %>
      <li>dinos
        <h2><%= dino.name %></h2>
        <img src="<%= dino.image %>"> <IMAGESDINO class="id"></IMAGESDINO> </img>
        <a href="/detail/<%= detail.id %>">Voir le détail</a>
        <p>description:<%= dino.description %></p>
        <p>régime: <%= dino.regime %></p>
      </li>
    <% }) %>
  </ul>
  </SWAGG>
</div>


<%- include("../partials/footer") %>





